<div class='toolbar'>
  <ul class='actions'>
    <li id="new_ot_link">
      <%= button_link_to t("new_event"),
                          new_object_url,
                          {:remote => true,
                          :method => :get,
                          :icon => 'add',
                          'data-update' => "new-event"} %>
    </li>
  </ul>
  <br class='clear' />
</div>

<h1><%= t("events") %></h1>

<%= image_tag "spinner.gif", :plugin=>"spree", :style => "display:none", :id => 'busy_indicator' %>
<div id="new-event"></div>

<table class="index">
    <tr>
      <%= hook :admin_events_index_headers do %>
        <th><%= sort_link @search, :begin_event, t("begin") %></th>
        <th><%= sort_link @search, :end_event, t("end") %></th>
        <th><%= sort_link @search, :title, t("title") %></th>
      <% end %>
      <th>
        <%= hook :admin_events_index_header_actions %>
      </th>
    </tr>
	
<% @collection.each do |event| %>
  <% locals = {:event => event} %>
  <tr class="<%= cycle('even', 'odd') %>">
    <%= hook :admin_events_index_rows, locals do %>
      <td><%= event.begin_event.strftime("%b%d, %Y %I:%M%p") %></td>
      <td><%= event.end_event.strftime("%b %d, %Y %I:%M%p") %></td>
      <td><%= link_to h(event.title), [:edit, :admin,event] %></td>
      <td class="actions">
        <%= hook :admin_events_index_row_actions, locals do %>
	  <%= link_to_edit event %>
          &nbsp;
	  <%= link_to_delete event %>
        <% end %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>

<% will_paginate(:previous_label => "&#171; #{t('previous')}", :next_label => "#{t('next')} &#187;") %>

<h2><%=t("global_settings")%></h2>
<%= form_tag(admin_events_settings_path, :method => :put) do -%>
  <table>
    <tr>
      <td><label><%= t("days_before") %></label></td>
      <td> <%= text_field_tag('preferences[events_days_before]', Spree::Config[:events_days_before]) %></td>
    </tr>
    <tr>
      <td><label><%= t("days_after") %></label></td>
      <td><%= text_field_tag('preferences[events_days_after]', Spree::Config[:events_days_after]) %></td>
    </tr>
   </table>
  <p class="form-buttons">
    <%= button t('update') %>
  </p>
<% end %>

<% content_for :sidebar do %>
  <%= form_for [:admin, @search] do |f| %>
    <div class="box">
      <h3><%= t(:search) %></h3>
      
      <% locals = {:f => f} %>
      <%= hook :admin_events_index_search, locals do %>
        <p>
          <label><%= t("title") %></label><br />
          <%= f.text_field :title_contains, :size => 15 %>
        </p>

        <label><%= t("event_date_range") %></label><br />
        <div class="yui-g date-range-filter">
          <div class="yui-u sub-field first">
            <%= f.spree_date_picker :begin_event_greater_than %><br />
            <label class="sub"><%= t("begin") %></label>
          </div>
          <div class="yui-u sub-field">
            <%= f.spree_date_picker :begin_event_less_than %><br />
            <label><%= t("end") %></label>
          </div>
        </div>

        <p>
          <%= f.check_box :is_active_is_not_null, {:style => "vertical-align:middle;"}, "1", "" %>
          <label>
            <%= t("show_only_published_events") %>
          </label>
        </p>
        <%= hook :admin_events_index_search_buttons, locals do %>
          <p class="form-buttons">
            <%= button t("search") %>
          </p>
        <% end %>
      <% end %>
    </div>
  <% end %>

<% end %>

